body{
   margin: 0;
   width: 100vw;
   height: 100vh;
}
.fondo_negro{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.fondo_imagen{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.logo_1{
    margin: 0;
    position: absolute;
    width: 10.208333vw;
    height: 9.16666vh;
    top:23vh;
    left: 44.89583vw;
    opacity: 0%;
  
    animation: animacion1 3s linear;
}
@keyframes animacion1{
    0%{opacity: 100%;}
    25%{opacity: 100%;}
    40%{opacity: 0%;}
    80%{opacity: 0%;}
    100%{opacity: 100%;}
}
.cuadro_blanco{
    position: absolute;
    background-color: white;
    width: 48.75vw;
    height: 70.63541vh;
    border-radius: 3.48958%;
    top: 17.33333vh;
    left: 25.625vw;
    opacity: 0%;
    animation: animacion2  linear forwards;
    animation-delay: 0.1s;
}
.logo_2{
    position: absolute;
    width: 5.36458vw;
    height: 6.04166vh;
    top: 1.95312vh;
    left: 22.39583vw;
}
.texto_1{
    position: absolute;
    font-family: "letra_3";
    text-align: center;
    width: 26.04166vw;
    height: 5vh;
    font-size: 2.08333vw;
    top: 9.16666vh;
    left: 11.97916vw;
   
}
.texto_2{
    position: absolute;
    font-family: "letra_2";
    top: 20.60416vh;
    font-size: 1.2vw;
    left: 1.78125vw;
    width: 45.05vw;
    height: 1.04166vh;
    text-align: center;
}
.dato0{
    position: absolute;
    font-family: "letra_2";
    font-size: 1.30208vw;
    top: 17.60416vh;
    left: 7.8125vw;
    width: 3.95833vw;
    height: 1.30208vh;
}
.usuario{
    position: absolute;
    top: 24vh;
    font-size: 1.8vw;
    left: 8.5vw;
    font-family: "letra_2";
}
.contraseña{
    position: absolute;
    top: 34vh;
    font-size: 1.8vw;
    left: 8.5vw;
    font-family: "letra_2";
}
#datos1{
    position: absolute;
    font-family: "letra_2";
    font-size: 1.30208vw;
    top: 40.60416vh;
    left:8vw;
    width: 30.95833vw;
    height: 2.90208vh;
    
}
#datos2{
    position: absolute;
    font-family: "letra_2";
    font-size: 1.30208vw;
    top: 30.60416vh;
    left: 8vw;
    width: 30.95833vw;
    height: 2.90208vh;
    
}

input{
    width: 33.85416vw;
    height: 2.60416vh;
    border-radius: 1.04166vw;
    margin-bottom: 1.04166vw;

}
button{
    position: absolute;
    width: 17.5vw;
    height: 3.64583vw;
    font-size: 1.30208vw;
    top: 29.32296vw;
    left: 15.88541vw;
    color: white;
    background-color: #F97A2C;
    border-radius: 2.08333vw;
}
.link_panel{
    text-decoration: none;
    color: white;
}
.texto_3{
    position: absolute;
    font-family: "letra_2";
    font-size: 1.4rem;
    height: 0vw;
    width: 30vw;
    top: 34.84375vw;
    left:9.0625vw ;
}
@keyframes animacion2{
    0%{opacity: 100%;}
    100%{opacity: 100%;}
}
@font-face {
    font-family: letra_1;
    src: url(../Letras/MYRIADPRO-BOLD.woff);
}
@font-face {
    font-family: letra_2;
    src: url(../Letras/MyriadPro-Light.woff);
}
@font-face {
    font-family: letra_3;
    src: url(../Letras/MYRIADPRO-REGULAR.woff);
}
