body{
    margin: 0;
    width: 100vw;
    height: 56.25vh;
}
.texto1{
    position: absolute;
    font-size: 2vw;
    top: 29vh;
    left: 33.8vw;
}
.imagen{
    position: absolute;
    width: 15vw;
    height: 16vh;
    left: 43.5vw;
    top: 12vh;
}
.imagen2{
    position: absolute;
    width: 19vw;
    height: 31vh;
    left: 41.5vw;
    top: 40vh;
    border-radius: 100%;
}
.texto2{
    position: absolute;
    font-size: 2vw;
    left: 42vw;
    top: 69.5vh;
}
.cuadro1{
    position: absolute;
    background-color:#FF6F2C ;
    width: 12vw;
    height: 7vh;
    border-radius: 2vw;
    top: 82vh;
    left: 44vw;

}
.continuar{
    position: absolute;
    font-size: 2.2vw;
    top: -2.6vh;
    left: 1vw;
    color: white;
    text-decoration: none;
}
