body {
    margin: 0;
    width: 100vw;
    height: 56.25vh;
}
.cuadroprincipal {
    position: absolute;
    width: 100vw;
    height: 56.25vh;
    background-color: white;
    min-height: 1920px;
}
.cuadro1 {
    position: absolute;
    width: 25.625vw;
    height: 11.82291vh;
    background-color:#FF6F2C ;
    border-radius: 2vw;
    border: 0.2vw solid grey 70%;
    top: 44vh;
    left: 2vw;
    min-height: 227px;
}
.cuadro2{
    position:absolute;
    width: 25.625vw;
    height: 2.9vh;
    border-radius: 2vw;
    border: 0vw solid gray 100%;
    background-color: white;
    left: 2vw;
    top: 34.9vh;
    min-height: 56px;
}
.descripcion {
    position: absolute;
    top: -2.3vh;
    left: 0.5vw;
    font-size: 1.6vw;
    min-height: 56px;
}
.cuadro3{
    position: absolute;
    width: 25.625vw;
    height: 11.82291vh;
    background-color:#FF6F2C ;
    border-radius: 2vw;
    border: 0.2vw solid grey 70%;
    top: 44vh;
    left: 35vw;
    min-height: 227px;
}
.cuadro4 {
    position:absolute;
    width: 25.625vw;
    height: 2.9vh;
    border-radius: 2vw;
    border: 0vw solid gray 100%;
    background-color: white;
    top: 34.9vh;
    left: 35vw;
    min-height: 56px;
}
.seleccionar{
    position: absolute;
    top: -2.9vh;
    left: 7.9vw;
    font-size: 2vw;
    min-height: 56px;
}
.cuadro5{
    position: absolute;
    width: 25.625vw;
    height: 11.82291vh;
    background-color:#FF721B ;
    border-radius: 2vw;
    border: 0.2vw solid grey 70%;
    top: 44vh;
    left: 69vw;
    min-height: 227px;
}
.cuadro6 {
    position:absolute;
    width: 25.625vw;
    height: 2.9vh;
    border-radius: 2vw;
    border: 0vw solid gray 100%;
    background-color: white;
    left: 69vw;
    top: 34.9vh;
    min-height: 56px;
}
.seleccionar_categoria{
    position: absolute;
    top: -2.9vh;
    left: 2.9vw;
    font-size: 2vw;
    min-height: 56px;
}
.cuadro7{
    position:absolute;
    width: 18.625vw;
    height: 3.9vh;
    border-radius: 1vw;
    border: 0vw solid gray 100%;
    background-color: white;
    top: 77vh;
    left: 38.4vw;
    min-height: 55px;
}
.enviar{
    position: absolute;
    top: -5.6vh;
    left: 5.4vw;
    font-size: 2.8vw;
    min-height: 55px;
    text-decoration: none;

}
a{
    text-decoration: none;
    color: black;
}
.texto1 {
    position: absolute;
    font-size: 2vw;
    color: black;
    top: 18.9vh;
    left: 26.8vw;
}
.reportar_problema{
    position: absolute;
    font-size: 2.4vw;
    color: black;
    top: 10.9vh;
    left: 40vw;
}
.logo{
    position: absolute;
    width: 14vw;
    height: 9vh;
    left: 40.3vw;
    top: 2vh;
}
.spam{
    position: absolute;
    font-size: 1.6vw;
    left: 1.5vw;
    color: white;
}
.abuso{
    position: absolute;
    font-size: 1.6vw;
    left: 1.5vw;
    top: 3vh;
    color: white;
}
.contenido{
    position: absolute;
    font-size: 1.6vw;
    left: 1.5vw;
    top: 6vh;
    color: white;
}
.informacion{
    position: absolute;
    font-size: 1.6vw;
    left: 1.5vw;
    top: 9vh;
    color: white;
}
.parametro{
    position: absolute;
    font-size: 1.6vw;
    left: 1.5vw;
    top: 12vh;
    color: white;
}
.problema{
    position: absolute;
    font-size: 1.6vw;
    left: 1.5vw;
    color: white;
}
.denunciar{
    position: absolute;
    font-size: 1.6vw;
    left: 1.5vw;
    top: 5vh;
    color: white;
}
.enviar_reporte{
    position: absolute;
    font-size: 1.6vw;
    left: 1.5vw;
    top: 10vh;
    color: white;
}
.boton{
    position: absolute;
    width: 3vw;
    height: 4.5vh;
    background-color: #FF721B;
    border-radius: 100%;
    left: 1.5vw;
    top: 6vh;
}
.flecha{
    position: absolute;
    font-size:2vw;
    top: -3.4vh;
    left: 0.8vw;
}