body {
    font-family:"letra_3";
    background: white;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 56.25vh;
    margin: 0;
}
.container {
    position: absolute;
    background: rgb(188, 0, 0);
    width: 65.6666vw;
    height: 41.6666vh;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    top: 20vh;
    left: 5vw;
}
h2 {
    position: absolute;
    color: #333;
}
.input-box, select {
    position: absolute;
    width:30vw;
    padding: 1vw;
    margin: 10pw;
    border: 1px solid blue;
    border-radius: 6px;
    font-size: 1.6vw;
    top: 23vh;
    left: 24vw;
}
button {
    position: absolute;
    background: #FF6F2C ;
    color: white;
    border: none;
    padding: 12px;
    width: 10vw;
    border-radius: 1vw;
    font-size: 1.8vw;
    cursor: pointer;
    top: 38vh;
    left: 23vw;
}
button:hover {
    background: yellow;
}
@font-face {
    font-family: letra_1;
    src: url(../Letras/MYRIADPRO-BOLD.woff);
}
@font-face {
    font-family: letra_2;
    src: url(../Letras/MyriadPro-Light.woff);
}
@font-face {
    font-family: letra_3;
    src: url(../Letras/MYRIADPRO-REGULAR.woff);
}